/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
}


.btn-left-margin{
    margin-left: 10px;
}

.btn-right-margin{
    margin-right: 10px;
}

.reject-btn{
    background-color: red;
    color: white;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.accept-btn{
    background-color: green;
    color: white;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}




