<div class="homeContainer">
    <div class="navBarContainer">
        <app-nav-bar></app-nav-bar>
    </div>
    <div class="detailContainer">
        <h1>{{title}}</h1>
        <h1>Signing Address :  {{signingAddress}}</h1>
        <app-token-details></app-token-details>
        <app-all-portfolios></app-all-portfolios>
        <app-transfer-requests></app-transfer-requests>
        <app-transfer-owner></app-transfer-owner>
        <app-auth-request></app-auth-request>
        <app-get-asset></app-get-asset>
        <app-create-token></app-create-token>
        <app-all-assets></app-all-assets>
        <app-loader></app-loader>
    </div>
</div>    

<!-- <app-flow-component></app-flow-component> -->