<div class="homeContainer">
    <div class="navBarContainer">
        <app-nav-bar></app-nav-bar>
    </div>
    <div class="detailContainer">
      <div class="header">
        <h1 class="title">{{title}}</h1>
        <h3>OnChain Address: {{signingAddress | slice:0:7}}...{{signingAddress | slice:-4}}</h3>
      </div>
        <app-token-details></app-token-details>
        <app-all-portfolios></app-all-portfolios>
        <app-transfer-requests></app-transfer-requests>
        <app-transfer-owner></app-transfer-owner>
        <app-auth-request></app-auth-request>
        <app-get-asset></app-get-asset>
        <app-create-token></app-create-token>
        <app-all-assets></app-all-assets>
        <app-loader></app-loader>
    </div>
</div>

<!-- <app-flow-component></app-flow-component> -->
