
*{
  margin: 0px;
  padding: 0px;
  margin-right: 4px;
  /* background-color: green; */
}

.homeContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.navBarContainer{
    width:10% ;
    height: 100%;
}

.detailContainer{
    width: 89%;
    height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 8px;
}

.title{
  margin-left: 448px;
}
