<div class="action-btn-container">
    <h2>Action Buttons : </h2>
<div class="action-btn-wrapper">
    <button class="btn sto-create" (click)="togglePopUp('sto')">Create Security Token</button>
    <button class="btn get-asset" (click)="togglePopUp('getAsset')">Get ST Details</button>
    <button class="btn get-asset" (click)="togglePopUp('getAllAssets')">Get Your All Assests</button>
    <button class="btn get-asset" (click)="togglePopUp('getAllAuth')">Get Incoming Auth Requests</button>
    <button class="btn get-asset" (click)="togglePopUp('getAllTransfer')">Transfer Requests</button>
    <button class="btn get-asset" (click)="getPublicKey()">Get Your Public Address</button>
    <button class="btn get-asset" (click)="togglePopUp('transferOwner')">Transfer Ownership</button>
    <button class="btn get-asset" (click)="togglePopUp('addSecondaryAccount')">Add Secondary Account</button>
    <button class="btn get-asset" (click)="togglePopUp('assetCompliance')">Set Asset Compliance</button>
    <button class="btn get-asset" (click)="togglePopUp('assetAgent')">Add Asset Agent</button>
    <button class="btn get-asset" (click)="togglePopUp('assetSecAgent')">Add Asset Secondary Agent</button>
    <button class="btn get-asset" (click)="togglePopUp('removeAgent')">Remove Asset Agent</button>
    <button class="btn get-asset" (click)="togglePopUp('mintAsset')">Mint Asset</button>
    <button class="btn get-asset" (click)="togglePopUp('assetDistribution')">Asset Distribution</button>
    <button class="btn get-asset" (click)="togglePopUp('porfolios')">Get Portfolios</button>
    <button class="btn get-asset" (click)="togglePopUp('')">Test Case</button>
</div>
</div>
